
@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/proximanova-regular.woff2") format("woff")
}

body {
  margin: 0;
  font-family: CustomFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
